<div class='row-fluid'>
  <div class='span6 offset3'>
    <h2 class='text-center'>Log In</h2>
      <a href='#'>
        <p class='text-center'>Not registered? Sign up here</p>
      </a>
      
      <%= simple_form_for :session, :url => sessions_path, :html => {:class => 'bs-container'} do |f| %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.button :submit, :value => "Log In", :class => "btn-primary"%>
      <% end %> 
    </div>
  </div>

