!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Signup Confirmation
    %p
      Your user ID: #{@user.id}
    %p
      Thank you for signing up!
