<%# <div class='row-fluid'>A %>
<%#   <div class='span12'> %>
<%#     <div class='page-header'> %>
<%#       <h1>User Profile</h1> %>
<%#     </div> %>
<%#   </div> %>
<%# </div> %>
<%# <div class='row-fluid'> %>
<%#   <div class='tabbable'> %>
<%#     <ul class='nav nav-tabs'> %>
<%#       <li class='active'> %>
<%#         <a data-toggle='tab' href='#'>User Settings</a> %>
<%#       </li> %>
<%#       <li > %>
<%#         <a data-toggle='tab' href='#'>View Orders</a> %>
<%#       </li> %>
<%#     </ul> %>
<%#   </div> %>
<%# </div> %>
<%# <%= render 'form' %1> %>
