.row
  .logo-banner.pull-left.span12
    .span6.logo
      %h1
        %a{:href => "/"}
          = image_tag("http://store-engine.s3.amazonaws.com/assets/Cloak_and_DaggerSmall.png")
    .span6
      .cart_link.pull-right
        %span
