- if flash
  - flash.each do |name, msg|
    %div{:class => "notification notification-#{name == :notice ? "success" : "error"}"}
      = msg

  :javascript
    $(document).ready(function(){

      $('.notification').toggleClass('notification-move');

      setTimeout(function() {

        $(".notification").delay(4000).toggleClass('notification-move');

      }, 4000);

    })