<hr>
<div class='row-fluid footer'>
  <div class='span4'>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <h3>Information</h3>
    <ul>
      <li>
        <a href='#'>Contact</a>
      </li>
      <li>
        <a href='#'>Delivery</a>
      </li>
      <li>
        <a href='#'>FAQ</a>
      </li>
      <li>
        <a href='#'>Terms and condition</a>
      </li>
    </ul>
  </div>
  <div class='span4'>
    <h3>Stay in Touch</h3>
    <ul>
      <li>
        <a href='#'>Facebook</a>
      </li>
      <li>
        <a href='#'>Twitter</a>
      </li>
      <li>
        <div class='control-group'>
          <div class='controls'>
            <div class='input-prepend input-append'>
              <div class='span add-on'>
                <i class='icon-envelope'></i>
              </div>
              <input class='span6 appendedPrependedInput' placeholder='Enter your email' type='text'>
              <input class='btn' name='submit' type='submit' value='Subcribe'>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class='span4'>
    <h3>Other stuff</h3>
    <ul>
      <li>
        <a href='#'>Link</a>
      </li>
      <li>
        <a href='#'>Link</a>
      </li>
      <li>
        <a href='#'>Link</a>
      </li>
      <li>
        <a href='#'>Link</a>
      </li>
    </ul>
  </div>
</div>
