%section
  .hero-unit
    .primary-message
      %h2 Sell Your Products Online
      %h3 without the hassle.
    %a.primary-button.between-sections{:href => "#"}
      Create Your Free Shopmazing Store