%section
  .hero-unit
    .primary-message
      %h2 Sell Your Products Online
      %h3 without the hassle.
    %a.primary-button.between-sections{:href => new_user_path}
      Sign Up To Create Your Free Shopmazing Store