<div class='navbar navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class='container'>
      <a class='btn btn-navbar' data-toggle='.nav-collapse'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </a>
      <div class='nav-collapse'>
        <ul class='nav pull-right'>
          <% if current_user %>
            <li><%= link_to "#{current_user.full_name + "'s Account"}", user_path(current_user) %></li>
            <!-- <li><a>My Account</a></li> -->
            <li><%= link_to "Logout", logout_path %></li>
          <% else %>
            <li><%= link_to "Log In", login_path %></li>
            <li><%= link_to "Sign Up", signup_path %></li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
</div>

