%header.admin-header
  .navbar.navbar-fixed-left
    .navbar
      .navbar-inner
        %a.brand.admin-brand{:href => "#"} Shopmazing
        %ul#admin-menu
          %li
            =link_to 'Profile', profile_path, class: "admin_header_link dashboard active"
          %li
            =link_to 'Purchases', profile_orders_path, class: "admin_header_link orders"
          - if current_user.stores.count > 0
            %li
              =link_to 'Stores', stores_path, class: "admin_header_link products"
        
        =link_to "Create New Store", create_new_store_path, class: "admin-primary-button admin-cta"