<%= debug %>
<% if categories %>
<div class='row-fluid'>

  <div class='span12 nav-menus'>
    <ul class='nav nav-pills'>
      <li>
        <%= link_to 'All Products', products_path %>
      </li>
      <% categories.each do |category| %>  
        <li>
          <%= link_to category.name, category_path(category) %> 
        </li>
      <% end %> 
    </ul>
  </div>
</div>
<% end %>
