<div class='row-fluid'>
  <div class='span12 nav-menus'>
    <ul class='nav nav-pills'>
      <li>
        <a href='#'>All Products</a>
      </li>
      <li>
        <a href='#'>Category 1</a>
      </li>
      <li>
        <a href='#'>Category 2</a>
      </li>
      <li>
        <a href='#'>Category 3</a>
      </li>
      <li>
        <a href='#'>Category 4</a>
      </li>
      <li>
        <a href='#'>Category 5</a>
      </li>
      <li>
        <a href='#'>Category</a>
      </li>
    </ul>
  </div>
</div>
