%header.admin-header
  .navbar.navbar-fixed-left
    .navbar
      .navbar-inner
        %a.brand.admin-brand{:href => "#"} Shopmazing
        %ul#admin-menu
          %li
            %a.active{:href => "#"}
              Dashboard
          %li
            %a{:href => "#"}
              Orders
          %li
            %a{:href => "#"}
              Products