!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 This message is a confirmation that you have been removed as an admin for @store.name on Shopmazing.

