!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 This message is a confirmation that you have been added as an admin for @store.name on Shopmazing.

    %p You must sign up to Shopmazing before you can start serving as an admin. Please sign up by following the link below:

    %p
      = new_user_url



