<% provide(:title, 'Admin Add New Category') %>

  <div class='row-fluid'>
    <div class='span12'>
      <div class='span6'>
        <h3>Add New Category</h3>
      </div>
    </div>
  </div>
  <%= render 'form' %>

