<% provide(:title, 'Admin Add New Product') %>
  <div class='row-fluid'>
    <div class='span12'>
      <div class='span6'>
        <h3>Add New Product</h3>
      </div>
    </div>
  </div>
  <%= render 'form' %>
