<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>
<p>See all associated products:<br/>
  <% @category.products.each do |product| %>
    <%= link_to product.title, product_path(product) %>
  <% end %>
</p>

<%= link_to 'Back', categories_path %>
